name: CI/CD Pipeline
on: [push]

jobs:
  deploy:
    # Este é o comando que liga o GitHub à tua VM local
    runs-on: self-hosted

    steps:
      - name: Checkout Código
        uses: actions/checkout@v3

      - name: Build e Deploy
        run: |
          go mod tidy
          go build -o go-notes
          # O runner já está na VM, por isso executa o restart localmente
          sudo systemctl restart go-notes.service
